[run]
branch = True
source = draftpaper_cli
omit =
    draftpaper_cli/_vendor/*
    draftpaper_cli/discipline_modules/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    if __name__ == .__main__.:
    raise NotImplementedError
